################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/.vs
/Redirector/.vs
/Redirector/Browser Choice Redirect/bin
/Redirector/Browser Choice Redirect/obj
